.Board {
  position: relative;
  margin: 0 auto;
  background-color: #000;
  background-image:
    linear-gradient(#333 1px, transparent 1px),
    linear-gradient(90deg, #333 1px, transparent 1px);
} 

.Cell {
  background: #ccc;
  position: absolute;
}

.HitCell {
  background: rgb(165, 10, 10);
  background-image: url(../media/cell-cross.png);
  position: absolute;
}
.MissedCell {
  background: rgb(166, 223, 196);
  background-image: url(../media/cell-oval.png);
  position: absolute;
}
